body{
    color: #fff;
}

#highscoreList{
    list-style: none;
    margin-bottom: 4rem;
    text-shadow: 
    -1px -1px 0 #FE00F6,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.high-score{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}